@model JogoModel


@{
    ViewData["title"] = "Editar Sorteio";
}


<form method="post" asp-controller="Jogo" asp-action="Editar">
    <input type="hidden" asp-for=Id />

    <h2>Edição do Sorteio</h2>

    <div class="form-group">
        <label for="nomeSorteio">Nome Sorteio</label>
        <input type="text" asp-for="Nome" class="form-control" id="nomeSorteio" placeholder="Qual o nome do Sorteio">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="TotalNumero">Total de números</label>
            <input type="number" asp-for="TotalNumero" maxlength="1000" class="form-control" id="TotalNumero" placeholder="Quantidade de números para o sorteio">
        </div>

        <div class="form-group col-md-6">
            <label for="QuantidadeNumeroSelecao">Minimo de números para Jogar</label>
            <input type="number" asp-for="QuantidadeNumeroSelecao" maxlength="10" class="form-control" id="QuantidadeNumeroSelecao" placeholder="Quantidade de números para seleção">
        </div>
    </div>

    <div class="form-group col-md-6">
        <label for="dataSorteio">Quando será o sorteio</label>
        <input type="date" asp-for="DataSorteio" class="form-control" id="dataSorteio" placeholder="Data Sorteio">
    </div>

    <div class="form-group col-md-6">
        <label for="premio">Prêmio</label>
        <input type="text" asp-for="Premio" class="form-control" id="premio" placeholder="Qual será o prêmio ?">
    </div>

    <button type="submit" class="btn btn-success w-50" id="btnConfirm">Confirmar</button>
    <a class="btn btn-primary w-50" asp-controller="Jogo" asp-action="Index">Cancelar</a>
</form>