
div.header-premio {
    background-image: url('../img/premio.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.div-email {
    margin-bottom: 5px;
}