html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#logo-menu {
    width: 80%;
}

.resultado-loteria {
    display: inline-block;
    margin: 0 12px 0 0;
    font-family: "FuturaWeb",sans-serif;
    font-size: 2rem;
    color: #fff;
    background: #209869;
    border-radius: 35px;
    width: 67px;
    height: 67px;
    padding: 10px 0;
    text-align: center;
}

.numero-escolhido {
    display: inline-block;
    margin: 0 12px 0 0;
    font-family: "FuturaWeb",sans-serif;
    font-size: 1.3rem;
    color: #fff;
    background: #209869;
    border-radius: 35px;
    width: 37px;
    height: 37px;
    padding: 2px;
    text-align: center;
}

.sorteio-resultado {

}